header {
    padding-bottom:1em;
}

body {
    background-color: #E5E2D3;
    padding: 2em;
}

img {
    
    margin-top: 3em;
    margin-bottom:3em;
}

p {
    text-align: justify;
}

footer p {
    text-align:center;
    font-weight:bold;
}

.papayuela-color {
    background-color: #CB6712;
    color:white;
}

.error {
    margin-top: 1em;
    margin-bottom: 1em;
}

.module-title {
    font-size:18px;
    text-align:center;
    padding:0.5em;
}

.help-symbol {
    float:right;
    font-size:2em;
    color:#59B459;
}

.tooltip.left .tooltip-inner {
    background-color:#A8A262;
}

.tooltip.left .tooltip-arrow {
          border-left-color: #A8A262;
}

.footer-content {
    text-align:justify;
    font-size:10px;
}