/*

Remarks: 
~   is a escape character in Less
~'' is an escaped empty string

*/
header {
  padding-bottom: 1em;
}
body {
  background-color: #E5E2D3;
  padding: 2em;
}
footer p {
  padding-top: 1em;
  text-align: center;
  font-size: 12px;
}
#title-image {
  margin-top: 3em;
  margin-bottom: 3em;
}
#modal-image {
  height: 115px;
  width: 90px;
}
.papayuela-color {
  background-color: #CB6712;
  color: white;
}
.message {
  margin-top: 1em;
  margin-bottom: 1em;
}
.module-title {
  text-align: center;
  font-size: 18px;
  padding: 0.5em;
}
.help-symbol {
  float: right;
  color: #59B459;
  font-size: 2em;
}
.tooltip.left .tooltip-inner {
  background-color: #A8A262;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #A8A262;
}
.panel-shadow {
  border: 1px solid #CB6712;
  box-shadow: 10px 10px 5px -4px #aba8ab;
  padding: 0.5%;
}
.shadow-box {
  box-shadow: 10px 10px 5px -4px #aba8ab;
}
